.hero {
  padding: 5.6vw;
  min-height: 80vh;
  background-image: url(../images/hero_desktop.jpeg);
  text-align: center;
}

.hero__content {
  max-width: 640px;
}

.hero__content__branding {
  max-width: 320px;
  margin: 0 auto 38px;
}

.hero__content .title--small {
  margin-bottom: 64px;
}

.hero__content p {
  margin-bottom: 20px;
}

.hero__content__combos {
  display: flex;
}

.hero__content__combos__combo {
  width: calc(50% - 12px);
}

.hero__content__combos__combo img {
  max-height: 60px;
}
